<!doctype html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="A game of Detectives, Robots, and Impostors." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Detective by @stefanbohacek</title>
  <meta property="og:title" content="Detective by @stefanbohacek" />
  <meta property="og:description" content="A game of Detectives, Robots, and Impostors." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://stefanbohacek.com/detective" />
  <meta property="og:image" content="http://detective.stefanbohacek.com/images/screenshots/detective-2.0.png" /> 
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
<!--
  <link href='//fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Source+Serif+Pro' rel='stylesheet' type='text/css'>
-->
  <link rel="stylesheet" href="css/styles.1.4.min.css">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="images/favicon-144.png">
  <link rel="shortcut icon" href="images/favicon.ico"/>
  <link rel="apple-touch-icon" href="images/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" href="images/favicon-152.png">
  <link rel="icon" href="images/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-64.png">
  <style type="text/css">
    @font-face {
      font-family: 'Source Serif Pro';
      font-style: normal;
      font-weight: 400;
      src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(//fonts.gstatic.com/s/sourceserifpro/v4/CeUM4np2c42DV49nanp55fETq2ZMMnErnN6OL83eMrU.woff2) format('woff2'), url(//fonts.gstatic.com/s/sourceserifpro/v4/CeUM4np2c42DV49nanp55S0XUiYNEUS_1eNN5dXyLEY.woff) format('woff');
    }
    @font-face {
      font-family: 'Merriweather Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(//fonts.gstatic.com/s/merriweathersans/v5/AKu1CjQ4qnV8MUltkAX3sMZ4HySTEWshgORbPp2tk8k.woff2) format('woff2'), url(//fonts.gstatic.com/s/merriweathersans/v5/AKu1CjQ4qnV8MUltkAX3sL2aU247V0zTzydO4RoO9Ok.woff) format('woff');
    }

  </style>
</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
 {{{body}}}
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.stefanbohacek.com";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '8']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
</body>
</html>