<header class="header" id="top">
<h1 class="highlight shifted">Detective</h1>
</header>
<ul class="shifted navigation-menu">
  <li>
    <a href="#about-game">What is this?</a>
  </li>
  <li>
    <a href="#about-author">Who am I?</a>
  </li>
  <li>
    <a href="#privacy-policy">Privacy policy</a>
  </li>
</ul>
<hr class="shifted" />
<section id="main">
  <h2 id="about-game" class="shifted">What is <span class="highlight">DETECTIVE</span>?</h2>
  <p class="shifted"><span class="highlight">DETECTIVE</span> is a "chat game" where the player gets randomly paired with either <strong>another player</strong> or <strong>an automated chat bot</strong> (<strong>ROBOT</strong>). You will also be randomly assigned a role of either a <strong>DETECTIVE</strong> or an <strong>IMPOSTOR</strong>.</p>
  <p class="shifted">As a <strong>DETECTIVE</strong>, you must figure out whether you are speaking with a <strong>ROBOT</strong> (the chat bot) or an <strong>IMPOSTOR</strong>, another human player pretending to be a <strong>ROBOT</strong>.
  <p class="shifted">If you are an <strong>IMPOSTOR</strong>, you must trick the <strong>DETECTIVE</strong> into thinking that they are speaking to a <strong>ROBOT</strong>.</p>
  <p class="shifted">An <strong>upcoming feature</strong> will add a <strong>scoring system</strong> that shows how many times you <strong>uncovered an IMPOSTOR</strong> and how many times you <strong>deceived a DETECTIVE</strong>.</p>
  <p class="shifted">If you'd like to learn more about the game, check out <a href="http://blog.stefanbohacek.com/tagged/detective">related posts on my blog</a>. You can also <a href="https://twitter.com/stefanbohacek">follow me on Twitter</a> for updates.</p>
  <a href="#top" class="shifted back-to-top"><i class="fa fa-chevron-up"></i> Back to top</a>
  <h2 id="about-author" class="shifted">Who am I?</h2>
  <p class="shifted">Hi, my name is <a href="https://stefanbohacek.com/">Stefan</a> and I am a <strong>web developer</strong> living in <strong>Brooklyn, New York</strong>. I am the creator of <span class="highlight">DETECTIVE</span>. I also made <a href="https://botwiki.org/">Botwiki</a>, <a href="http://simplesharingbuttons.com/">Simple Sharing Buttons Generator</a>, and <a href="https://stefanbohacek.com/projects/">other, less useful things</a>.</p>
  <p class="shifted">If you'd like to get in touch, feel free to <a href="mailto:stefan@stefanbohacek.com">send me an email</a> or <a href="https://twitter.com/stefanbohacek">reach out to me on Twitter</a>.</p>
  <a href="#top" class="shifted back-to-top"><i class="fa fa-chevron-up"></i> Back to top</a>

  <h2 id="privacy-policy" class="shifted">Privacy policy</h2>
  <p class="shifted">None of the conversations are saved on my server -- unless <strong>either of the human players click on one of the sharing buttons after the game is over</strong>. This saves the chat log into the database and generates a link to a page that can be shared, <a href="https://detective.stefanbohacek.com/log?id=274">like this one</a>. Chat logs <strong>between a human player and the <strong>ROBOT</strong> are saved by</strong> <a href="https://www.botlibre.com/">BOT Libre</a> (<a href="https://www.botlibre.com/privacy.jsp">link to their Privacy Policy page</a>). I myself browse the chat logs to <strong>help train the chat bot</strong> so that his answers can appear more human-like.</p>

  <a href="#top" class="shifted back-to-top"><i class="fa fa-chevron-up"></i> Back to top</a>
  <h2 id="support" class="shifted">Support your developer</h2>
  <p class="shifted"></p>

  <form class="shifted" id="tip-me" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="6WUY9E5QLB4RE">
    This game is and will remain <strong>completely free</strong>, but I don't mind if you<br/>
    <ul>
      <li><input type="hidden" name="on0" value="Send me">send me<select name="os0" class="tip-choice">
          <option value="a dollar ->">a dollar</option>
          <option value="two dollars ->">two dollars</option>
          <option value="five bucks ->">five bucks</option>
          </select>
          <input type="hidden" name="currency_code" value="USD">
          <button name="submit" title="Send via PayPal"><strong>Send</strong> via <i class="fa fa-cc-paypal"></i></button>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </li>
      <li>
        <p>Or perhaps <i class="fa fa-btc"></i> 0.02?</p>
        <a href="bitcoin:18WDyJFShLcLVCRyiEm3MijbCsBjcxG4mH?amount=0.02&label=SimpleSharingButtons">
        <img src="images/bitcoin-donation.png"></a>
        <p class="btc-address">18WDyJFShLcLVCRyiEm3MijbCsBjcxG4mH</p>
      </li>
    </ul>
  </form>
  <p class="shifted"><strong>Thank you</strong> either way :-)</p>
</section>
<footer class="footer shifted">
  <p class="center-text"><a href="http://stefanbohacek.com/detective">PLAY THE GAME</a> or <a href="http://blog.stefanbohacek.com/tagged/detective">learn more</a></p>
</footer>
<script src="js/log.min.js"></script>