<header class="header">
  <h1 class="highlight">Error</h1>
</header>

<section>
<p class="center-text">There was an error: {{ error }}</p>
</section>
<footer class="footer">
  <p class="center-text">Return <a href="https://detective.stefanbohacek.com/">to the main page</a>.</p>
</footer>
<script src="js/leaderboard.min.js"></script>
