<section id="intro">
<header class="header detective-art" id="top">
<img class="shifted" src="{{ banner_url }}" title="A detective">
<h1 class="highlight shifted">Detective</h1>
</header>
  <ul class="navigation-menu shifted">
    {{#if userIsLoggedIn }}
      <li>
        <a href="/play" class="primary-button shifted">Play as @{{userName}}</a>
      </li>
      <li>
        <a href="/logout?" class="secondary-button shifted">Logout</a>
      </li> 
    {{else}}
      <li>
        <a href="/auth/twitter?" class="primary-button shifted"><img class="twitter-icon" src="images/twitter.svg"> Login and play</a>
      </li>
      <li>
        <a href="/play" class="secondary-button shifted">Play</a>
      </li> 
    {{/if}}

    <li>
      <a href="/leaderboard?sort=impostor" class="secondary-button shifted">Leaderboard</a>
    </li>
    <li>
      <a href="#about" class="secondary-button shifted">About</a>
    </li>
  </ul>
</div>
<div id="game-login">
</div>
</section>
<section id="about">
<!--
  <hr class="shifted" />
-->
  <ul class="navigation-menu">
    <li class="shifted">
      <a href="#about-game">What is this?</a>
    </li>
    <li class="shifted">
      <a href="#about-author">Who am I?</a>
    </li>
    <li class="shifted">
      <a href="#privacy-policy">Privacy policy</a>
    </li>
  </ul>
  <h2 id="about-game" class="shifted">What is <span class="highlight">DETECTIVE</span>?</h2>
  
  <p class="shifted"><span class="highlight">DETECTIVE</span> is a "reverse-Turing test" chat game where the player gets randomly paired with either <strong>another player</strong> or <strong>an automated chat bot</strong> (<strong>ROBOT</strong>, powered by <a href="https://www.botlibre.com/">BOT Libre</a>). Human players will be randomly assigned a role of either a <strong>DETECTIVE</strong> or an <strong>IMPOSTOR</strong>.</p>
  
  <p class="shifted">As a <strong>DETECTIVE</strong>, you must figure out whether you are speaking with a <strong>ROBOT</strong> (the chat bot) or an <strong>IMPOSTOR</strong>, another human player pretending to be a <strong>ROBOT</strong>.</p>
  
  <p class="shifted">If you are an <strong>IMPOSTOR</strong>, you must trick the <strong>DETECTIVE</strong> into thinking that they are speaking to a <strong>ROBOT</strong>.</p>
  <div class="example-game shifted">
    <div class="shadow ">
      <ul id="messages"><li class="user-message new-message">What is the answer to the math question of 2+2?</li><li class="rori-message new-message"><span class="message-prepend">&gt;</span> it depends on how you phrase the question</li><li class="user-message new-message">You are an imposter</li><li class="system-message error-message">INCORRECT</li><li class="system-message new-message">Game is over</li></ul>
    </div>
    <em><a href="http://detective.stefanbohacek.com/log?id=415">An example game.</a></em>
  </div>

  <div class="img-block">
    <img class="shifted" src="images/art/robot.png" title="A scuba diver pretending to be a robot">
  </div>
  
  <p class="shifted">You have an option to <strong>sign in using your Twitter account</strong> to record the number of games you played in each role and your success rate. You can see the top players <a href="/leaderboard?sort=impostor">on the leaderboard page</a>.</p> 

  
  <p class="shifted">If you'd like to learn more about the game, check out <a href="https://stefanbohacek.com/tag/detective/">related posts on my blog</a>. You can also follow <a href="https://twitter.com/detectivelogs">@detectivelogs</a> for updates and "best of Detective logs".</p>
  <a href="#top" class="shifted back-to-top"><i class="fa fa-chevron-up"></i> Back to top</a>
  <h2 id="about-author" class="shifted">Who am I?</h2>
  
  <p class="shifted">Hi, my name is <a href="https://stefanbohacek.com">Stefan</a> and I am a <strong>web developer</strong> living in <strong>Brooklyn, New York</strong>, and I am the creator of <span class="highlight">DETECTIVE</span>. I also made <a href="http://simplesharingbuttons.com/">Simple Sharing Buttons Generator</a>, <a href="https://botwiki.org/">Botwiki</a>, and <a href="https://stefanbohacek.com/projects/">other, less useful things</a>.</p>
  
  <p class="shifted">If you'd like to get in touch, feel free to <a href="mailto:stefan@stefanbohacek.com">send me an email</a> or <a href="https://twitter.com/stefanbohacek">reach out to me on Twitter</a>.</p>
  <a href="#top" class="shifted back-to-top"><i class="fa fa-chevron-up"></i> Back to top</a>
  <h2 id="privacy-policy" class="shifted">Privacy policy</h2>
  
  <p class="shifted">None of the conversations are saved on my server -- unless <strong>either of the human players click on one of the sharing buttons after the game is over</strong>. This saves the chat log into the database and generates a link to a page that can be shared, <a href="http://detective.stefanbohacek.com/log?id=274">like this one</a>. Chat logs <strong>between the human players and the <strong>ROBOT</strong> are saved by</strong> <a href="https://www.botlibre.com/">BOT Libre</a> (<a href="https://www.botlibre.com/privacy.jsp">link to their Privacy Policy page</a>). I myself occasionally browse those chat logs to <strong>help train the chat bot</strong> so that his answers can appear more human-like.</p>
  <p class="shifted">If you choose to sign in using your Twitter account, note that no private or public information is stored on my server, other than your user name and your progress in the game. If you'd like to removed from the leaderboard, please <a href="https://twitter.com/stefanbohacek">contact me directly on Twitter</a>, so that I can verify your identity.</p>  
  <div class="img-block">
    <img class="shifted" src="images/art/polar-clock.png" title="Something called 'polar clock'">
  </div>
  <a href="#top" class="shifted back-to-top"><i class="fa fa-chevron-up"></i> Back to top</a>
</section>
<script src="js/log.min.js"></script>