<header class="header">
  <h1 class="highlight">Detective game log</h1>
  <p class="time-ago">{{ played_by }} {{ last_update }}</p>
</header>
<section id="main">
<hr/>
{{{ chat_log }}}
<hr/>
</section>
<footer class="footer">
  <p class="center-text"><span class="highlight">DETECTIVE</span> is a <a target="_blank" href="https://botwiki.org/projects/#detective">Botwiki project</a>, please consider <a href="https://botwiki.org/about/support#donation-options" target="_blank">supporting it</a>!<br/>
  Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>. Return <a href="http://fourtonfish.com/detective/">to the main page</a>.</p>
</footer>
<script src="js/log.min.js"></script>
