<header class="header">
<h1 class="highlight">Detective</h1>
<p>A <a href="http://fourtonfish.com/detective/">game</a>
by <a href="https://twitter.com/fourtonfish">@fourtonfish</a></p>
</header>
<hr/>
<section id="main">
<p class="time-ago">{{ played_by }} {{ last_update }}</p>
{{{ chat_log }}}
<hr/>
</section>
<footer class="footer">
  <p class="center-text"><a href="http://fourtonfish.com/detective/play">PLAY THE GAME</a> or <a href="http://blog.fourtonfish.com/tagged/detective">learn more</a></p>
</footer>
<script src="js/log.min.js"></script>