<header class="header">
  <h1 class="highlight">Detective game log</h1>
  <p class="time-ago">{{ played_by }} {{ last_update }}</p>
</header>
<section id="main">
<hr/>
{{{ chat_log }}}
<hr/>
</section>
<footer class="footer">
  <p class="center-text">Created by <a href="https://stefanbohacek.online/@stefan">Stefan Bohacek</a>. Return <a href="https://detective.stefanbohacek.com/">to the main page</a>.</p>
</footer>
<script src="js/log.min.js"></script>
